body{
  background-color: gray;
}

#container{
  border: 2px solid black;
  margin: auto;
  width: 600px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

h1{
  font-size: 3em;
}

input{
  font-size: 1.7em;
  padding: 3px;
  margin-right: 8px;
}

button{
  font-size: 1.7em;
  padding: 3px
}

p{
  font-size: 1.5em;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.task-details {
  display: flex;
  align-items: center;
}

#task-container{
  border: 2px solid black;
  margin-top: 5px;
  border-radius: 10px;
}

.task-text {
  margin-left: 8px;
  font-size: 1.5em;
}

.task-actions {
  font-size: 0.8em;
  border: none;
  border-radius: 30px;
  margin-right: 5px;
}
